# Ignore WordPress core files
wp-admin/
wp-includes/

# Ignore sensitive files
wp-config.php
.env

# Ignore user-uploaded content
wp-content/uploads/
wp-content/cache/
wp-content/backup-db/
wp-content/upgrade/
wp-content/debug.log

# Ignore system files
.DS_Store
Thumbs.db
*.log
*.sql
*.tar.gz
*.zip

# Ignore IDE/editor settings
.idea/
.vscode/

# Ignore Composer & Node.js dependencies
node_modules/
vendor/

# Keep only custom themes and plugins
!wp-content/themes/your-custom-theme/
!wp-content/plugins/your-custom-plugin/
